# Dependencias de PHP
/vendor/

# Archivos generados por la extensión de ANTLR en VS Code
.antlr/

# Archivos de entorno (Variables secretas, si llegas a usar)
.env

CLAUDE.md 
# Configuraciones de editores de código
.vscode/
.idea/
*.swp

